<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>482973362485-lo47cs6vkhbr8f6h6n723ftf2107fss7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.482973362485-lo47cs6vkhbr8f6h6n723ftf2107fss7</string>
	<key>API_KEY</key>
	<string>AIzaSyBihlkdm81hHxQEuaVnRmy3TfXjB0aAS58</string>
	<key>GCM_SENDER_ID</key>
	<string>482973362485</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Ray.PokeSearch</string>
	<key>PROJECT_ID</key>
	<string>pokesearch-2b460</string>
	<key>STORAGE_BUCKET</key>
	<string>pokesearch-2b460.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:482973362485:ios:a6b31d18c74eb451</string>
	<key>DATABASE_URL</key>
	<string>https://pokesearch-2b460.firebaseio.com</string>
</dict>
</plist>